<ion-view title="Artsts" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/bdkqnmEKS1Kgo6p5GW0S_AvB.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/0DvVK0RLRCqPKe9Mv5bd_Hardweel.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/cYNpPPyJSC6fP475Gs8P_KSHMR.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>